.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.box h3{
    font-family: 'Pattaya', sans-serif;
    margin-bottom: 2rem;
    color: #444444
}
.box ul{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.box ul li{
    margin: 0.25rem;
    padding: 1rem;
    background: #000;
    opacity: 0.75;
    text-align: center;
    border-radius: 0.1rem;
    display: inline-block;
    transition: all 0.125s ease-in-out;
}
.box ul li:hover{
    
    transform: translate(0px,-10px);
    background: #0D6DDA;
}
.box ul li:hover a{text-decoration: none}
.box ul li a{color: #fff}