.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.box h3{
    font-family: 'Pattaya', sans-serif;
    margin-bottom: 2rem;
    color: #444444
}
.box ul{
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.box ul li{
    margin: 0.25rem;
    padding: 1rem;
    background: #000;
    opacity: 0.5;
    text-align: center;
    border-radius: 0.1rem;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
.box ul li:hover{
    opacity: 0.75;
    transform: translate(-13px,-13px);
    box-shadow: 10px 10px 1px 1px rgba(0,0,0,0.25);
}
.box ul li:hover a{
    text-decoration: none;
}
.box ul li a
{
    color: #fff;
}