<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="student_list">
                <div class="list_header"><p>Danh sách học viên</p></div>
                <ul>
                    <li>
                        <div class="student student--active">
                            <img src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/p960x960/83683821_2635289040032518_6971836900529143808_o.jpg?_nc_cat=104&_nc_sid=85a577&_nc_ohc=6i8gyIA4tdEAX8yBMTd&_nc_ht=scontent-hkt1-1.xx&_nc_tp=6&oh=41edb7d868a9c03ed58ddf07d42ce288&oe=5F0DA31A">
                            <div class="student__info">
                                <p class="student__info__name">Tuyết Hứa</p>
                                <p class="student__info__points">98.89</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/s960x960/42782803_2091787277803675_7307892892868018176_o.jpg?_nc_cat=110&_nc_sid=85a577&_nc_ohc=7Pcw5YrNLL0AX9BBOSo&_nc_ht=scontent.fdad2-1.fna&_nc_tp=7&oh=2e5dc5a2631ad6d2829abfe85873767b&oe=5F0E2500">
                            <div class="student__info">
                                <p class="student__info__name">Hoàng Thư</p>
                                <p class="student__info__points">50.45</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/s960x960/89629637_277824993206508_8629052703160401920_o.jpg?_nc_cat=100&_nc_sid=85a577&_nc_ohc=r_wKnicEnJYAX8pEGU4&_nc_ht=scontent.fvca1-2.fna&_nc_tp=7&oh=cb33530017c7d8b472905dbe12813864&oe=5F0FF61E">
                            <div class="student__info">
                                <p class="student__info__name">Trương Vũ Vững</p>
                                <p class="student__info__points">70.71</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/98000447_1149372138743347_5620746579842433024_n.jpg?_nc_cat=110&_nc_sid=85a577&_nc_ohc=Ob-kO_4jeNMAX-r3eV9&_nc_ht=scontent.fdad2-1.fna&oh=44898dcda72bb0753657fe8781d5ea95&oe=5F0DF6DB">
                            <div class="student__info">
                                <p class="student__info__name">Tâm Nguyễn</p>
                                <p class="student__info__points">70.89</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/14642113_345901969088790_535829966139984018_n.jpg?_nc_cat=103&_nc_sid=85a577&_nc_ohc=H2RVgl9qwjAAX-59jqY&_nc_ht=scontent.fvca1-1.fna&oh=cb46993c9bd01fb347b52f263a384777&oe=5F0DE67D">
                            <div class="student__info">
                                <p class="student__info__name">Thu Trang</p>
                                <p class="student__info__points">10.00</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/83746573_2535342666740400_1425802840168726528_n.jpg?_nc_cat=111&_nc_sid=85a577&_nc_ohc=yS2nt8w1-i8AX-p0lyc&_nc_ht=scontent.fvca1-1.fna&oh=706a8a873a08b115624660945ebaedf4&oe=5F0CF7EA">
                            <div class="student__info">
                                <p class="student__info__name">Lê Lệ Kiều</p>
                                <p class="student__info__points">35.53</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t31.0-8/10580793_299236043588922_8063191818553365223_o.jpg?_nc_cat=111&_nc_sid=85a577&_nc_ohc=UATDNPFuTMAAX8nVeNV&_nc_ht=scontent.fvca1-1.fna&oh=2ac4cbbfaf69d7cb93aee24e8655d0fa&oe=5F0F71E9">
                            <div class="student__info">
                                <p class="student__info__name">Huệ Tô Siêu</p>
                                <p class="student__info__points">49.48</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/s960x960/42782803_2091787277803675_7307892892868018176_o.jpg?_nc_cat=110&_nc_sid=85a577&_nc_ohc=7Pcw5YrNLL0AX9BBOSo&_nc_ht=scontent.fdad2-1.fna&_nc_tp=7&oh=2e5dc5a2631ad6d2829abfe85873767b&oe=5F0E2500">
                            <div class="student__info">
                                <p class="student__info__name">Hoàng Thư</p>
                                <p class="student__info__points">50.45</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/s960x960/89629637_277824993206508_8629052703160401920_o.jpg?_nc_cat=100&_nc_sid=85a577&_nc_ohc=r_wKnicEnJYAX8pEGU4&_nc_ht=scontent.fvca1-2.fna&_nc_tp=7&oh=cb33530017c7d8b472905dbe12813864&oe=5F0FF61E">
                            <div class="student__info">
                                <p class="student__info__name">Trương Vũ Vững</p>
                                <p class="student__info__points">70.71</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/98000447_1149372138743347_5620746579842433024_n.jpg?_nc_cat=110&_nc_sid=85a577&_nc_ohc=Ob-kO_4jeNMAX-r3eV9&_nc_ht=scontent.fdad2-1.fna&oh=44898dcda72bb0753657fe8781d5ea95&oe=5F0DF6DB">
                            <div class="student__info">
                                <p class="student__info__name">Tâm Nguyễn</p>
                                <p class="student__info__points">70.89</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/14642113_345901969088790_535829966139984018_n.jpg?_nc_cat=103&_nc_sid=85a577&_nc_ohc=H2RVgl9qwjAAX-59jqY&_nc_ht=scontent.fvca1-1.fna&oh=cb46993c9bd01fb347b52f263a384777&oe=5F0DE67D">
                            <div class="student__info">
                                <p class="student__info__name">Thu Trang</p>
                                <p class="student__info__points">10.00</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t1.0-9/83746573_2535342666740400_1425802840168726528_n.jpg?_nc_cat=111&_nc_sid=85a577&_nc_ohc=yS2nt8w1-i8AX-p0lyc&_nc_ht=scontent.fvca1-1.fna&oh=706a8a873a08b115624660945ebaedf4&oe=5F0CF7EA">
                            <div class="student__info">
                                <p class="student__info__name">Lê Lệ Kiều</p>
                                <p class="student__info__points">35.53</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="student">
                            <img src="https://scontent.fvca1-1.fna.fbcdn.net/v/t31.0-8/10580793_299236043588922_8063191818553365223_o.jpg?_nc_cat=111&_nc_sid=85a577&_nc_ohc=UATDNPFuTMAAX8nVeNV&_nc_ht=scontent.fvca1-1.fna&oh=2ac4cbbfaf69d7cb93aee24e8655d0fa&oe=5F0F71E9">
                            <div class="student__info">
                                <p class="student__info__name">Huệ Tô Siêu</p>
                                <p class="student__info__points">49.48</p>
                                <p class="student__info__course">Basic Front-end</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="list_footer"></div>
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>